* {
    padding: 0;
    margin: 0;
}
[data-tab-content]{
    display: none;





}
.active[data-tab-content]{
    display: block;



}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;
    border: solid 1px #EBEBEB;
    padding: 5rem;
}

button {
    margin-top: 2rem;
} 

body {
    padding : 0 ;
    margin :0;



}

.tabs {
    display : flex;
    justify-content : space-around;
    list-style-type:none;
    margin: 0 ;
    padding :0;
    border-bottom: 1px solid black; 
}
.tab {
    cursor: pointer;
    padding : 10px;

}

.tab.active {
    background-color: #987654;



}
.tab:hover {
    background-color: #AAA;
}

.tab-content{
    margin-left: 20px;
    margin-right: 20px;



}
#home {
    height: 0px;
    width: 400px;

    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -100px;
    margin-left: -400px;
}
#turncamleftBtn {
	    background-color: #FF0000;

}
#turncamrightBtn {
	    background-color: #FFFF00;
}

label {
    display: inline-block; width:80px
}

input, select {
    width:120px;
}

img {
    height:200px;
    width:200px;
    border:2px black solid;



}

body { 
    background-image: url("https://i.hizliresim.com/mma3v78.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: 750px;
    background-position-y: 150px;
}

table, th, td {
    margin-left:0cm;
    



}